
  
  
  <div>
    <div class="d-flex flex-column flex-root">
        <div>
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  
                    <!--begin::Post-->
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        <!--begin::Container-->
                        <div id="kt_content_container" class="container-xxl">
                            <!--begin::Card-->
                            <div class="card">
                                <!--begin::Card header-->
                                <div class="card-header border-0 pt-6">
                                    <div class="card-toolbar">
                                        <!--begin::Toolbar-->
                                        <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                                            
                                            <!--begin::Add customer-->
                                            <button type="button" data-bs-toggle="modal"
                                                data-bs-target="#kt_modal_create_app" class="btn btn-info me-3">Add
                                                Class-Level</button>
                                        </div>
                                                                             
                                    </div>
                                </div>
                                
                                <div class="card-body pt-0">
                                    <!--begin::Table-->
                                    <table class="table align-middle table-row-dashed fs-6 gy-5"
                                        id="kt_customers_table">
                                        <!--begin::Table head-->
                                        <thead>
                                            <!--begin::Table row-->
                                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                
                                                <th class="min-w-125px">Class</th>
                                                
                                                <th class="min-x-50px">Category</th>
  
                                                <th class="text-end min-w-70px">Actions</th>
                                            </tr>
                                            <!--end::Table row-->
                                        </thead>
                                        
                                        


                                        <tbody class="table-hover">
                                            <tr *ngFor="let item of levelData">
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.category }}</td>
                                                <!-- <td>
                                                    <select #fir (change)="schoolId = fir.value " class="form-select">
                                                        <option selected disabled>Actions</option>
                                                        <option data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">
                                                            <a >Edit</a>
                                                        </option>
                                                    </select>
                                                </td> -->
                                                <td class="text-end">

                                                    <a #me  style="display:none; border: solid 10px red;" (click)="togme(me)" > 
                                                        <a  style="text-align: start; background-color: white; border-radius: 10px; padding: 20px 10px; box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.3); position: absolute; z-index: 10;">
                                                            <!--begin::Menu item-->
                                                            <div data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" class="smallmod" style="margin-bottom: 5px;">
                                                                <a>Edit</a>
                                                            </div>
      
                                                            <div (click)="deleteLevel(item.id)" class="smallmod" style="margin-bottom: 5px;">
                                                                <a>Delete</a>
                                                            </div>

                                                            <div class="smallmod">
                                                                <a data-kt-customer-table-filter="delete_row">Cancel</a>
                                                            </div>
                                                            <!--end::Menu item-->
                                                        </a>
                                                    </a>


                                                    <a (click)="togme(me)" class="btn btn-sm btn-light btn-active-light-primary">Actions
                                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                        <span class="svg-icon svg-icon-5 m-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none">
                                                                <path
                                                                    d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                                    fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                    </a>
                                                    <!--begin::Menu-->
                                                    <!-- class="menu menu-sub menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" -->
                                                   
                                                    <!--end::Menu-->
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                                <!--end::Card body-->
                            </div>
  
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Post-->
                </div>
                
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    
    
    
    <div class="modal fade" id="kt_modal_create_app" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-700px">
            <div class="modal-content">
                <div class="modal-header">
                    <h2> Add Class-Level </h2>
                    <div class="btn btn-sm btn-icon btn-active-color-info" data-bs-dismiss="modal">
                        <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                    transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                </div>
              
                <div class="modal-body py-lg-10 px-lg-10 h-500px scroll-y">
                    <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid"
                        id="kt_modal_create_app_stepper">
                        
                        <div class="flex-row-fluid py-lg-5 px-lg-15">
                            <form class="form" (ngSubmit)="saveClassLevel()">
                                <div class="current" data-kt-stepper-element="content">
                                    <div class="w-100">
                                        <!--begin::Input group-->
                                        <div class="col-12 mb-10">
                                          <!--begin::Label-->
                                          <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                              <span class="">Class-Level Name</span>
                                          </label>
                                          <!--end::Label-->
                                          <!--begin::Input-->
                                          <input type="mail" class="form-control form-control-lg form-control-solid"
                                              name="levelname" placeholder="" [(ngModel)]="levelName" />
                                          <!--end::Input-->
                                      </div>
  
                                        <div class="row mb-10">
                                            <div class="col-12">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-bold mb-2">
                                                    <span class="">Level Category</span>
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <select name="levelcategory" [(ngModel)]="levelCategory" data-control="select"
                                                    data-placeholder="Select Class"
                                                    class="form-select form-select-solid fw-bolder">
                                                    <option value="">Select Category</option>
                                                    <option value="SENIOR">Senior School</option>
                                                    <option value="JUNIOR">Junior School</option>
                                                    <option value="PRIMARY">Primary School</option>
                                                    <option value="NURSERY">Nursery School</option>
                                                </select>
  
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
                                <div>
                                    <div class="d-flex justify-content-center flex-row-fluid pt-12">
                                        <button type="reset" class="btn btn-light me-3"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </div>
                               
                            </form>   
                    </div>
                </div>
            </div>
        </div>
    </div>



    
   
    
  