<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
    <!--begin::Header-->
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-xxl">
                <!--begin::Inbox App - View & Reply -->
                <div class="d-flex flex-column flex-lg-row">

                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
                        <!--begin::Card-->
                        <div class="card">
                            <div class="card-header align-items-center py-5 gap-5">
                                <!--begin::Actions-->
                                <div class="d-flex">
                                    <!--begin::Back-->
                                    <a href="message.html"
                                        class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-3"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Back">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
                                        <span class="svg-icon svg-icon-1 m-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none">
                                                <rect opacity="0.5" x="6" y="11" width="13" height="2"
                                                    rx="1" fill="currentColor" />
                                                <path
                                                    d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </a>
                                    <!--end::Back-->

                                    <!--begin::Mark as read-->
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Mark as read">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen028.svg-->
                                        <span class="svg-icon svg-icon-2 m-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none">
                                                <rect opacity="0.5" x="7" y="2" width="14" height="16"
                                                    rx="3" fill="currentColor" />
                                                <rect x="3" y="6" width="14" height="16" rx="3"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </a>
                                    <!--end::Mark as read-->

                                </div>
                                <!--end::Actions-->
                                <!--begin::Pagination-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Pages info-->
                                    <span class="fw-bold text-muted me-2">1 - 50 of 235</span>
                                    <!--end::Pages info-->
                                    <!--begin::Prev page-->
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-light btn-active-light-primary me-3"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Previous message">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
                                        <span class="svg-icon svg-icon-2 m-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none">
                                                <path
                                                    d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </a>
                                    <!--end::Prev page-->
                                    <!--begin::Next page-->
                                    <a href="#"
                                        class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Next message">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                                        <span class="svg-icon svg-icon-2 m-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none">
                                                <path
                                                    d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </a>
                                    <!--end::Next page-->

                                </div>
                                <!--end::Pagination-->
                            </div>
                            <div class="card-body">
                                <!--begin::Title-->
                                <div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                        <!--begin::Heading-->
                                        <h2 class="fw-semibold me-3 my-1">I need assistance with accessing
                                            my child's grades online</h2>
                                        <!--begin::Heading-->

                                    </div>

                                </div>
                                <!--begin::Message accordion-->
                                <div data-kt-inbox-message="message_wrapper">
                                    <!--begin::Message header-->
                                    <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer"
                                        data-kt-inbox-message="header">
                                        <!--begin::Author-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Avatar-->
                                            <div class="symbol symbol-50 me-4">
                                                <span class="symbol-label"
                                                    style="background-image:url(assets/media/avatars/300-5.jpg);"></span>
                                            </div>
                                            <!--end::Avatar-->
                                            <div class="pe-5">
                                                <!--begin::Author details-->
                                                <div class="d-flex align-items-center flex-wrap gap-1">
                                                    <a href="#"
                                                        class="fw-bolder text-dark text-hover-primary">Sean
                                                        Bean</a>
                                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs050.svg-->
                                                    <span class="svg-icon svg-icon-7 svg-icon-success mx-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px"
                                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <circle fill="currentColor" cx="12" cy="12"
                                                                r="8" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <span class="text-muted fw-bolder">1 day ago</span>
                                                </div>
                                                <!--end::Author details-->
                                                <!--begin::Message details-->
                                                <div data-kt-inbox-message="details">

                                                    <a href="#" class="me-1" data-kt-menu-trigger="click"
                                                        data-kt-menu-placement="bottom-start">
                                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                        <span class="svg-icon svg-icon-5 m-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                fill="none">
                                                                <path
                                                                    d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                                    fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </a>
                                                    <!--end::Menu toggle-->
                                                    <!--begin::Menu-->

                                                </div>
                                                <!--end::Message details-->
                                                <!--begin::Preview message-->
                                                <div class="text-muted fw-bold mw-450px d-none"
                                                    data-kt-inbox-message="preview">With resrpect, i must
                                                    disagree with Mr.Zinsser. We all know the most part of
                                                    important part....</div>
                                                <!--end::Preview message-->
                                            </div>
                                        </div>
                                        <!--end::Author-->
                                        <!--begin::Actions-->
                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                            <!--begin::Date-->
                                            <span class="fw-bold text-muted text-end me-3">10 Mar 2022, 2:40
                                                pm</span>
                                            <!--end::Date-->

                                        </div>
                                        <!--end::Actions-->
                                    </div>
                                    <!--end::Message header-->
                                    <!--begin::Message content-->
                                    <div class="collapse fade show" data-kt-inbox-message="message">
                                        <div class="py-5">
                                            <p>Hi Bob,</p>
                                            <p>With resrpect, i must disagree with Mr.Zinsser. We all know
                                                the most part of important part of any article is the
                                                title.Without a compelleing title, your reader won't even
                                                get to the first sentence.After the title, however, the
                                                first few sentences of your article are certainly the most
                                                important part.</p>
                                            <p>Jornalists call this critical, introductory section the
                                                "Lede," and when bridge properly executed, it's the that
                                                carries your reader from an headine try at
                                                attention-grabbing to the body of your blog post, if you
                                                want to get it right on of these 10 clever ways to omen your
                                                next blog posr with a bang</p>
                                            <p>Best regards,</p>
                                            <p class="mb-0">Jason Muller</p>
                                        </div>
                                    </div>
                                    <!--end::Message content-->
                                </div>
                                <!--end::Message accordion-->
                                <div class="separator my-6"></div>
                                <!--begin::Message accordion-->
                                <div data-kt-inbox-message="message_wrapper">
                                    <!--begin::Message header-->
                                    <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer"
                                        data-kt-inbox-message="header">
                                        <!--begin::Author-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Avatar-->
                                            <div class="symbol symbol-50 me-4">
                                                <span class="symbol-label"
                                                    style="background-image:url(assets/media/avatars/300-1.jpg);"></span>
                                            </div>
                                            <!--end::Avatar-->
                                            <div class="pe-5">
                                                <!--begin::Author details-->
                                                <div class="d-flex align-items-center flex-wrap gap-1">
                                                    <a href="#"
                                                        class="fw-bolder text-dark text-hover-primary">Max
                                                        Smith</a>
                                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs050.svg-->
                                                    <span class="svg-icon svg-icon-7 svg-icon-success mx-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px"
                                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <circle fill="currentColor" cx="12" cy="12"
                                                                r="8" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <span class="text-muted fw-bolder">2 days ago</span>
                                                </div>
                                                <!--end::Author details-->
                                                <!--begin::Message details-->
                                                <div class="d-none" data-kt-inbox-message="details">

                                                    <!--begin::Menu toggle-->
                                                    <a href="#" class="me-1" data-kt-menu-trigger="click"
                                                        data-kt-menu-placement="bottom-start">
                                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                        <span class="svg-icon svg-icon-5 m-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                fill="none">
                                                                <path
                                                                    d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                                    fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </a>
                                                    <!--end::Menu toggle-->

                                                </div>
                                                <!--end::Message details-->
                                                <!--begin::Preview message-->
                                                <div class="text-muted fw-bold mw-450px"
                                                    data-kt-inbox-message="preview">Jornalists call this
                                                    critical, introductory section the "Lede," and when
                                                    bridge properly executed....</div>
                                                <!--end::Preview message-->
                                            </div>
                                        </div>
                                        <!--end::Author-->
                                        <!--begin::Actions-->
                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                            <!--begin::Date-->
                                            <span class="fw-bold text-muted text-end me-3">25 Oct 2022,
                                                10:30 am</span>
                                            <!--end::Date-->

                                        </div>
                                        <!--end::Actions-->
                                    </div>
                                    <!--end::Message header-->
                                    <!--begin::Message content-->
                                    <div class="collapse fade" data-kt-inbox-message="message">
                                        <div class="py-5">
                                            <p>Hi Bob,</p>
                                            <p>With resrpect, i must disagree with Mr.Zinsser. We all know
                                                the most part of important part of any article is the
                                                title.Without a compelleing title, your reader won't even
                                                get to the first sentence.After the title, however, the
                                                first few sentences of your article are certainly the most
                                                important part.</p>
                                            <p>Jornalists call this critical, introductory section the
                                                "Lede," and when bridge properly executed, it's the that
                                                carries your reader from an headine try at
                                                attention-grabbing to the body of your blog post, if you
                                                want to get it right on of these 10 clever ways to omen your
                                                next blog posr with a bang</p>
                                            <p>Best regards,</p>
                                            <p class="mb-0">Jason Muller</p>
                                        </div>
                                    </div>
                                    <!--end::Message content-->
                                </div>
                                <!--end::Message accordion-->
                                <div class="separator my-6"></div>
                                <!--begin::Message accordion-->
                                <div data-kt-inbox-message="message_wrapper">
                                    <!--begin::Message header-->
                                    <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer"
                                        data-kt-inbox-message="header">
                                        <!--begin::Author-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Avatar-->
                                            <div class="symbol symbol-50 me-4">
                                                <span class="symbol-label"
                                                    style="background-image:url(assets/media/avatars/300-5.jpg);"></span>
                                            </div>
                                            <!--end::Avatar-->
                                            <div class="pe-5">
                                                <!--begin::Author details-->
                                                <div class="d-flex align-items-center flex-wrap gap-1">
                                                    <a href="#"
                                                        class="fw-bolder text-dark text-hover-primary">Sean
                                                        Bean</a>
                                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs050.svg-->
                                                    <span class="svg-icon svg-icon-7 svg-icon-success mx-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px"
                                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <circle fill="currentColor" cx="12" cy="12"
                                                                r="8" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <span class="text-muted fw-bolder">3 days ago</span>
                                                </div>
                                                <!--end::Author details-->
                                                <!--begin::Message details-->
                                                <div class="d-none" data-kt-inbox-message="details">

                                                    <!--begin::Menu toggle-->
                                                    <a href="#" class="me-1" data-kt-menu-trigger="click"
                                                        data-kt-menu-placement="bottom-start">
                                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                        <span class="svg-icon svg-icon-5 m-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                fill="none">
                                                                <path
                                                                    d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                                    fill="currentColor" />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </a>
                                                    <!--end::Menu toggle-->

                                                </div>
                                                <!--end::Message details-->
                                                <!--begin::Preview message-->
                                                <div class="text-muted fw-bold mw-450px"
                                                    data-kt-inbox-message="preview">Jornalists call this
                                                    critical, introductory section the "Lede," and when
                                                    bridge properly executed....</div>
                                                <!--end::Preview message-->
                                            </div>
                                        </div>
                                        <!--end::Author-->
                                        <!--begin::Actions-->
                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                            <!--begin::Date-->
                                            <span class="fw-bold text-muted text-end me-3">20 Jun 2022,
                                                10:30 am</span>
                                            <!--end::Date-->

                                        </div>
                                        <!--end::Actions-->
                                    </div>
                                    <!--end::Message header-->
                                    <!--begin::Message content-->
                                    <div class="collapse fade" data-kt-inbox-message="message">
                                        <div class="py-5">
                                            <p>Hi Bob,</p>
                                            <p>With resrpect, i must disagree with Mr.Zinsser. We all know
                                                the most part of important part of any article is the
                                                title.Without a compelleing title, your reader won't even
                                                get to the first sentence.After the title, however, the
                                                first few sentences of your article are certainly the most
                                                important part.</p>
                                            <p>Jornalists call this critical, introductory section the
                                                "Lede," and when bridge properly executed, it's the that
                                                carries your reader from an headine try at
                                                attention-grabbing to the body of your blog post, if you
                                                want to get it right on of these 10 clever ways to omen your
                                                next blog posr with a bang</p>
                                            <p>Best regards,</p>
                                            <p class="mb-0">Jason Muller</p>
                                        </div>
                                    </div>
                                    <!--end::Message content-->
                                </div>
                                <!--end::Message accordion-->
                                <!--begin::Form-->
                                <form id="kt_inbox_reply_form" class="rounded border mt-10">
                                    <!--begin::Body-->
                                    <div class="d-block">
                                        <!--begin::To-->
                                        <div
                                            class="d-flex align-items-center border-bottom px-8 min-h-50px">
                                            <!--begin::Label-->
                                            <div class="text-dark fw-bolder w-75px">To:</div>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control border-0"
                                                name="compose_to"
                                                value="e.smith@kpmg.com.au, max@kt.com, sean@dellito.com"
                                                data-kt-inbox-form="tagify" />
                                            <!--end::Input-->
                                            <!--begin::CC & BCC buttons-->
                                            <div class="ms-auto w-75px text-end">
                                                <span
                                                    class="text-muted fs-bold cursor-pointer text-hover-primary me-2"
                                                    data-kt-inbox-form="cc_button">Cc</span>
                                                <span
                                                    class="text-muted fs-bold cursor-pointer text-hover-primary"
                                                    data-kt-inbox-form="bcc_button">Bcc</span>
                                            </div>
                                            <!--end::CC & BCC buttons-->
                                        </div>
                                        <!--end::To-->
                                        <!--begin::CC-->
                                        <div class="d-none align-items-center border-bottom ps-8 pe-5 min-h-50px"
                                            data-kt-inbox-form="cc">
                                            <!--begin::Label-->
                                            <div class="text-dark fw-bolder w-75px">Cc:</div>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control border-0"
                                                name="compose_cc" value="" data-kt-inbox-form="tagify" />
                                            <!--end::Input-->
                                            <!--begin::Close-->
                                            <span class="btn btn-clean btn-xs btn-icon"
                                                data-kt-inbox-form="cc_close">
                                                <i class="la la-close"></i>
                                            </span>
                                            <!--end::Close-->
                                        </div>
                                        <!--end::CC-->
                                        <!--begin::BCC-->
                                        <div class="d-none align-items-center border-bottom inbox-to-bcc ps-8 pe-5 min-h-50px"
                                            data-kt-inbox-form="bcc">
                                            <!--begin::Label-->
                                            <div class="text-dark fw-bolder w-75px">Bcc:</div>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control border-0"
                                                name="compose_bcc" value="" data-kt-inbox-form="tagify" />
                                            <!--end::Input-->
                                            <!--begin::Close-->
                                            <span class="btn btn-clean btn-xs btn-icon"
                                                data-kt-inbox-form="bcc_close">
                                                <i class="la la-close"></i>
                                            </span>
                                            <!--end::Close-->
                                        </div>
                                        <!--end::BCC-->

                                        <!--begin::Message-->

                                        <textarea class="form-select-lg form-select form-select-transparent"
                                            rows="7" name="target_details" placeholder="enter your message"
                                            spellcheck="false">                        </textarea>

                                        <!--end::Message-->
                                        <!--begin::Attachments-->
                                        <div class="dropzone dropzone-queue px-8 py-4"
                                            id="kt_inbox_reply_attachments" data-kt-inbox-form="dropzone">
                                            <div class="dropzone-items">
                                                <div class="dropzone-item" style="display:none">
                                                    <!--begin::Dropzone filename-->
                                                    <div class="dropzone-file">
                                                        <div class="dropzone-filename"
                                                            title="some_image_file_name.jpg">
                                                            <span
                                                                data-dz-name="">some_image_file_name.jpg</span>
                                                            <strong>(
                                                                <span data-dz-size="">340kb</span>)</strong>
                                                        </div>
                                                        <div class="dropzone-error" data-dz-errormessage="">
                                                        </div>
                                                    </div>
                                                    <!--end::Dropzone filename-->
                                                    <!--begin::Dropzone progress-->
                                                    <div class="dropzone-progress">
                                                        <div class="progress">
                                                            <div class="progress-bar bg-primary"
                                                                role="progressbar" aria-valuemin="0"
                                                                aria-valuemax="100" aria-valuenow="0"
                                                                data-dz-uploadprogress=""></div>
                                                        </div>
                                                    </div>
                                                    <!--end::Dropzone progress-->
                                                    <!--begin::Dropzone toolbar-->
                                                    <div class="dropzone-toolbar">
                                                        <span class="dropzone-delete" data-dz-remove="">
                                                            <i class="bi bi-x fs-1"></i>
                                                        </span>
                                                    </div>
                                                    <!--end::Dropzone toolbar-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Attachments-->
                                    </div>
                                    <!--end::Body-->
                                    <!--begin::Footer-->
                                    <div
                                        class="d-flex flex-stack flex-wrap gap-2 py-5 ps-8 pe-5 border-top">
                                        <!--begin::Actions-->
                                        <div class="d-flex align-items-center me-3">
                                            <!--begin::Send-->
                                            <div class="btn-group w-100px me-4">
                                                <!--begin::Submit-->
                                                <span class="btn btn-primary fs-bold px-6"
                                                    data-kt-inbox-form="send">
                                                    <span class="indicator-label">Send</span>
                                                    <span class="indicator-progress">Please wait...
                                                        <span
                                                            class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </span>
                                                <!--end::Submit-->

                                            </div>
                                            <!--end::Send-->
                                            <!--begin::Upload attachement-->
                                            <span
                                                class="btn btn-icon btn-sm btn-clean btn-active-light-primary me-2"
                                                id="kt_inbox_reply_attachments_select"
                                                data-kt-inbox-form="dropzone_upload">
                                                <!--begin::Svg Icon | path: icons/duotune/communication/com008.svg-->
                                                <span class="svg-icon svg-icon-2 m-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3"
                                                            d="M4.425 20.525C2.525 18.625 2.525 15.525 4.425 13.525L14.825 3.125C16.325 1.625 18.825 1.625 20.425 3.125C20.825 3.525 20.825 4.12502 20.425 4.52502C20.025 4.92502 19.425 4.92502 19.025 4.52502C18.225 3.72502 17.025 3.72502 16.225 4.52502L5.82499 14.925C4.62499 16.125 4.62499 17.925 5.82499 19.125C7.02499 20.325 8.82501 20.325 10.025 19.125L18.425 10.725C18.825 10.325 19.425 10.325 19.825 10.725C20.225 11.125 20.225 11.725 19.825 12.125L11.425 20.525C9.525 22.425 6.425 22.425 4.425 20.525Z"
                                                            fill="currentColor" />
                                                        <path
                                                            d="M9.32499 15.625C8.12499 14.425 8.12499 12.625 9.32499 11.425L14.225 6.52498C14.625 6.12498 15.225 6.12498 15.625 6.52498C16.025 6.92498 16.025 7.525 15.625 7.925L10.725 12.8249C10.325 13.2249 10.325 13.8249 10.725 14.2249C11.125 14.6249 11.725 14.6249 12.125 14.2249L19.125 7.22493C19.525 6.82493 19.725 6.425 19.725 5.925C19.725 5.325 19.525 4.825 19.125 4.425C18.725 4.025 18.725 3.42498 19.125 3.02498C19.525 2.62498 20.125 2.62498 20.525 3.02498C21.325 3.82498 21.725 4.825 21.725 5.925C21.725 6.925 21.325 7.82498 20.525 8.52498L13.525 15.525C12.325 16.725 10.525 16.725 9.32499 15.625Z"
                                                            fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                            <!--end::Upload attachement-->

                                        </div>
                                        <!--end::Actions-->

                                    </div>
                                    <!--end::Footer-->
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Inbox App - View & Reply -->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
        <!--begin::Container-->
        <div
            class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-muted fw-bold me-1">2022©</span>
                <a href="https://GradexCloud.com" target="_blank"
                    class="text-gray-800 text-hover-info">gradeX-Cloud</a>
            </div>
            <!--end::Copyright-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Footer-->
</div>
