<!-- <nav>
  <div style="display: flex;">
    <div class="pood" style="z-index: 6; position: fixed; background-color: white; color: black; height: 100vh; box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);">
        
      <div class="aside-logo flex-column-auto" style="background-color: #ffff; display: flex; justify-content: space-between; align-items: center; margin: 20px 30px 18% 30px;" id="kt_aside_logo">

        <a href="../../demo1/dist/index.html">
          <img alt="Logo" src="assets/media/logos/logo1-new.svg" class="h-50px logo" />
        </a>

        <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-info aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
 
          <span class="svg-icon svg-icon-1 rotate-180">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="currentColor" />
              <path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="currentColor" />
            </svg>
          </span>

        </div>

      </div>
  
      <div id="accordion" class="accordion">
        <li style="margin-bottom: 20px;">
          <div class="menu" (click)="obj.toggle(0)" [routerLink]="['/' + 'student', 'dashboard']" routerLinkActive="routactive">
            <i class="fa fa-th-large"></i>
            Dashboard
          </div>
        </li>
        
        <li style="margin-bottom: 20px;">
          <div class="menu" (click)="obj.toggle(1)" [routerLink]="['/' + 'student', 'profile']" routerLinkActive="routactive">
            <i class="fa fa-th-large"></i>
            Profile
          </div>
        </li>

        <li style="margin-bottom: 20px;">
          <div class="menu" (click)="obj.toggle(2)" [routerLink]="['/' + 'student', 'parent-result-view']" routerLinkActive="routactive">
            <i class="fa fa-th-large"></i>
            Result
          </div>
        </li>

        <li style="margin-bottom: 20px;">
          <div class="menu" (click)="goToLink('https://pixpay.ng/')" >
            <i class="fa fa-th-large"></i>
            Payment
          </div>
        </li>

        <li style="margin-bottom: 20px;">
          <div class="menu" (click)="obj.toggle(4)" [routerLink]="['/' + 'student', 'student-noticeboard']" routerLinkActive="routactive">
            <i class="fa fa-th-large"></i>
            Noticeboard
          </div>
        </li>

        <li style="margin-bottom: 20px;">
          <div class="menu" (click)="obj.toggle(4)" [routerLink]="['/' + 'student', 'student-calendar']" routerLinkActive="routactive">
            <i class="fa fa-th-large"></i>
            Calendar
          </div>
        </li>

        <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" style="background-color: #ffff;" id="kt_aside_footer">
          <div class="card d-flex align-items-center pb-10 p-7 border-radius: 10px" style=" background:#7239ea">

            <img src="assets/cloud.png" width="40" height="40" alt="">

    
            <h3 class="text-white fw-bolder mt-2 mb-2">gradeX-Cloud</h3>
    
            <a (click)="logout()" class="btn btn-light-info btn-light-info w-100">
              <span class="btn-label">Log out</span>
            </a>
        </div>
        </div>
    </div>
    </div>
  
  
  
  
  
  
    <div style="width: 100%; position: fixed; z-index: 5;">
      <app-topbar></app-topbar>
    </div>
    <div class="maine" style="overflow-x: hidden; width: 100%; margin-top: 55px;">
      <router-outlet></router-outlet>
    </div>
    </div>
  </nav> -->




  <div style="width: 100%; display: flex;">
    <div class="wedgex" style="min-width: 300px; position: relative;">
      <div class="pood"
        style="position: fixed; background-color: white; color: black; width: 300px; height: 100vh; box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);">
  
  
        <div class="aside-logo flex-column-auto"
          style="background-color: #ffff; display: flex; justify-content: space-between; align-items: center; margin: 10px 30px 18px 30px;"
          id="kt_aside_logo">
          <a>
            <img alt="Logo" src="assets/media/logos/logo1-new.svg" class="h-50px logo" />
          </a>
        </div>
  
        <div id="accordion" class="accordion" style="overflow-y: scroll; height: 73vh;">
          <li style="margin-bottom: 20px;">
            <div class="menu" (click)="obj.toggle(0)" [routerLink]="['/' + 'student', 'dashboard']" routerLinkActive="routactive">
              <i class="fa-brands fa-microsoft"></i>
              Dashboard
            </div>
          </li>
          
          <li style="margin-bottom: 20px;">
            <div class="menu" (click)="obj.toggle(1)" [routerLink]="['/' + 'student', 'profile']" routerLinkActive="routactive">
              <i class="fa fa-user"></i>
              Profile
            </div>
          </li>
  
          <li style="margin-bottom: 20px;">
            <div class="menu" (click)="obj.toggle(2)" [routerLink]="['/' + 'student', 'myresultlist']" routerLinkActive="routactive">
              <i class="fa fa-database"></i>
              My Result
            </div>
          </li>

          <li style="margin-bottom: 20px;">
            <div class="menu" (click)="obj.toggle(4)" [routerLink]="['/' + 'student', 'subject-teacher']" routerLinkActive="routactive">
              <i class="fa-solid fa-chart-area"></i>
              My Subjects
            </div>
          </li>
  
          <!-- <li style="margin-bottom: 20px;">
            <div class="menu" (click)="goToLink('https://pixpay.ng/')" >
              <i class="fa-solid fa-money-bill"></i>
              Payment
            </div>
          </li> -->
  
          <li style="margin-bottom: 20px;">
            <div class="menu" (click)="obj.toggle(4)" [routerLink]="['/' + 'student', 'student-noticeboard']" routerLinkActive="routactive">
              <i class="fa fa-th-large"></i>
              Noticeboard
            </div>
          </li>

          <li style="margin-bottom: 20px;">
            <div class="menu" (click)="obj.toggle(4)" [routerLink]="['/' + 'student', 'result-analysis']" routerLinkActive="routactive">
              <i class="fa-solid fa-chart-area"></i>
              Result Analysis
            </div>
          </li>
  </div>

  
  <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" style="background-color: #ffff;" id="kt_aside_footer">
    <div class="card d-flex align-items-center px-5 py-2 border-radius: 10px" style=" background:#7239ea">
  
      <img src="assets/cloud.png" width="20" height="20" alt="">
  
  
      <h6 class="text-white fw-bolder mt-2 mb-2">gradeX-Cloud</h6>
  
      <a (click)="logout()" class="btn btn-light-info btn-light-info w-100">
        <span class="btn-label">Log out</span>
      </a>
    </div>
  </div>
  </div>
  </div>
  
  
  
  <div style="width: 100%;">
    <div>
      <app-topbar></app-topbar>
    </div>
  
  
    <!-- <div style="width: 100%;">
      <router-outlet></router-outlet>
    </div> -->
  
  
    <div class="zend">
      <div class="imgo clw">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="loaderonly" class="img2 loadiv">
        <div
          style="width: 100%; height: 100vh; display: flex; position: fixed; justify-content: center; align-items: center;">
          <div>
            <div class="loader"></div>
            <br>
            <div style="font-weight: 600;">Loading...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>