<!-- <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">


        <div class="post d-flex flex-column-fluid" id="kt_post">

            <div id="kt_content_container" class="container-xxl">


                <div class="row g-5 g-xxl-8">

                    <div class="col-xl-6">


                        <div class="card mb-5 mb-xxl-8">

                            <div class="card-body pb-0">

                                <div class="d-flex align-items-center mb-5">
   
                                    <div class="d-flex align-items-center flex-grow-1">

                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-gray-900  fs-4 fw-bolder">School Fees
                                                Deadline Approaching </a>

                                            <span class="text-gray-400 me-3  fw-bold">Posted Now</span>

                                        </div>
                

                                    </div>


                                </div>

                                <div class="mb-10">
   
                                    <p class="text-gray-800 fw-normal mb-5">Dear students, kindly be
                                        reminded that the deadline for payment of school fees for the
                                        current academic session is fast approaching.
                                    </p>
                                    <p> Please ensure that all outstanding fees are settled before [deadline
                                        date] to avoid any inconveniences. For further assistance or
                                        inquiries, please contact the Bursary Department</p>

                                </div>
   
                                <div class="overflow-auto pb-5">
                                    <div
                                        class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-500px p-5">
                        
                                        <div class="d-flex flex-aligns-center pe-10 pe-lg-5">
                                        
                                            <img alt="" class="w-30px me-3" src="assets/media/svg/files/pdf.svg" />
                    
                                            <div class="ms-1 fw-bold">
                                                
                                                <a href="../../demo1/dist/apps/projects/project.html"
                                                    class="fs-6 text-hover-primary fw-bolder">First term
                                                    Newsletter</a>
                                    
                                                <div class="text-gray-400">1.9mb</div>
                                
                                            </div>
                       
                                        </div>
                       
                                        <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                            
                                            <img alt="../../demo1/dist/apps/projects/project.html" class="w-30px me-3"
                                                src="assets/media/svg/files/doc.svg" />
                
                                            <div class="ms-1 fw-bold">
                              
                                                <a href="#" class="fs-6 text-hover-primary fw-bolder">Client
                                                    UAT Testing Results</a>
                              
                                                <div class="text-gray-400">18kb</div>
                                   
                                            </div>
                            
                                        </div>
                         
                                        <div class="d-flex flex-aligns-center">
                              
                                            <img alt="../../demo1/dist/apps/projects/project.html" class="w-30px me-3"
                                                src="assets/media/svg/files/css.svg" />
    
                                            <div class="ms-1 fw-bold">
                              
                                                <a href="#" class="fs-6 text-hover-primary fw-bolder">Finance
                                                    Reports</a>
             
                                                <div class="text-gray-400">20mb</div>
                   
                                            </div>
                    
                                        </div>
           
                                    </div>
                                </div>
                    
                                <div class="overflow-auto pb-7">
                                    <div
                                        class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-500px p-7">

                            
                                        <div class="overlay me-10">
                                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
                                                href="../../../assets/media/stock/600x400/img-29.jpg">

                                 
                                                <div class="overlay-wrapper">
                                                    <img alt="img" class="rounded w-150px"
                                                        src="../../../assets/media/stock/600x400/img-29.jpg" />
                                                </div>
                       
                                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                                                </div>
                                            </a>
                                
                                        </div>
                     
                                        <div class="overlay">
                                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
                                                href="../../../assets/media/stock/600x400/img-31.jpg">

                                  
                                                <div class="overlay-wrapper">
                                                    <img alt="img" class="rounded w-150px"
                                                        src="../../../assets/media/stock/600x400/img-31.jpg" />
                                                </div>
                           
                                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                                                </div>
                                            </a>
                                       
                                        </div>
                         
                                    </div>
                                </div>
           
                            </div>

                        </div>
       
                        <div class="card mb-5 mb-xxl-8">
                 
                            <div class="card-body pb-0">
              
                                <div class="d-flex align-items-center mb-5">
                     
                                    <div class="d-flex align-items-center flex-grow-1">

                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-gray-900  fs-4 fw-bolder">Course
                                                Registration Deadline Reminder </a>
                                            <span class="text-gray-400 fw-bold">Posted Now</span>
                                        </div>
         
                                    </div>
            

                                </div>

                                <div class="mb-10">
  
                                    <p class="text-gray-800 fw-normal mb-5">Dear students, kindly be
                                        reminded that the deadline for payment of school fees for the
                                        current academic session is fast approaching.
                                    </p>
                                    <p> Please ensure that all outstanding fees are settled before [deadline
                                        date] to avoid any inconveniences. For further assistance or
                                        inquiries, please contact the Bursary Department</p>
          

                                </div>
                      
                            </div>
            
                        </div>
         


                    </div>

                    <div class="col-xl-6">
   
                        <div class="card mb-5 mb-xxl-8">
                 
                            <div class="card-body pb-0">
                      
                                <div class="d-flex align-items-center mb-5">
                    
                                    <div class="d-flex align-items-center flex-grow-1">

                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-gray-900  fs-4 fw-bolder">Course
                                                Registration Deadline Reminder </a>
                                            <span class="text-gray-400 fw-bold">Posted Now</span>
                                        </div>
                      
                                    </div>
             

                                </div>
             
                                <div class="mb-10">
                          
                                    <p class="text-gray-800 fw-normal mb-5">Attention students, this is a
                                        gentle reminder that the deadline for course registration for the
                                        upcoming semester is approaching.
                                    </p>
                                    <p> Ensure that you complete your course registration process before
                                        [deadline date] to secure your preferred courses. Any registration
                                        changes after this date may be subject to approval and additional
                                        fees. </p>
                      

                                </div>
                      
                                <div class="overflow-auto pb-5">
                                    <div
                                        class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-500px p-5">
                        
                                        <div class="d-flex flex-aligns-center pe-10 pe-lg-5">
                              
                                            <img alt="" class="w-30px me-3" src="../../../assets/media/svg/files/pdf.svg" />
                             
                                            <div class="ms-1 fw-bold">
                                
                                                <a href="../../demo1/dist/apps/projects/project.html"
                                                    class="fs-6 text-hover-primary fw-bolder">First term
                                                    Newsletter</a>
                                
                                                <div class="text-gray-400">1.9mb</div>
                                  
                                            </div>
                                 
                                        </div>
                     
                                        <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                             
                                            <img alt="../../demo1/dist/apps/projects/project.html" class="w-30px me-3"
                                                src="../../../assets/media/svg/files/doc.svg" />
                                     
                                            <div class="ms-1 fw-bold">
                                          
                                                <a href="#" class="fs-6 text-hover-primary fw-bolder">Client
                                                    UAT Testing Results</a>
                                 
                                                <div class="text-gray-400">18kb</div>
                                         
                                            </div>
                                    
                                        </div>
                   
                                        <div class="d-flex flex-aligns-center">
                               
                                            <img alt="../../demo1/dist/apps/projects/project.html" class="w-30px me-3"
                                                src="../../../assets/media/svg/files/css.svg" />
                                  
                                            <div class="ms-1 fw-bold">
                                    
                                                <a href="#" class="fs-6 text-hover-primary fw-bolder">Finance
                                                    Reports</a>
                                               
                                                <div class="text-gray-400">20mb</div>
                                               
                                            </div>
                                    
                                        </div>
                        
                                    </div>
                                </div>
                      
                                <div class="overflow-auto pb-7">
                                    <div
                                        class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-500px p-7">

                                   
                                        <div class="overlay me-10">
                                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
                                                href="../../../assets/media/stock/600x400/img-29.jpg">

                                                <div class="overlay-wrapper">
                                                    <img alt="img" class="rounded w-150px"
                                                        src="../../../assets/media/stock/600x400/img-29.jpg" />
                                                </div>
                                          
                                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                                                </div>
                                            </a>
                                         
                                        </div>
                               
                                        <div class="overlay">
                                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
                                                href="../../../assets/media/stock/600x400/img-31.jpg">

                                                <div class="overlay-wrapper">
                                                    <img alt="img" class="rounded w-150px"
                                                        src="../../../assets/media/stock/600x400/img-31.jpg" />
                                                </div>
                               
                                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                                                </div>
                                            </a>
                                 
                                        </div>
                              
                                    </div>
                                </div>
             
                            </div>
                     
                        </div>
      
                        <div class="card mb-5 mb-xxl-8">

                            <div class="card-body pb-0">
                     
                                <div class="d-flex align-items-center mb-5">
                            
                                    <div class="d-flex align-items-center flex-grow-1">

                          
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-gray-900  fs-4 fw-bolder">School Fees
                                                Deadline Approaching </a>
                                            <span class="text-gray-400 fw-bold">Posted 18 Dec, 2017</span>
                                        </div>
                          
                                    </div>
                       

                                </div>
                       
                                <div class="mb-10">
                       
                                    <p class="text-gray-800 fw-normal mb-5">Dear students, kindly be
                                        reminded that the deadline for payment of school fees for the
                                        current academic session is fast approaching.
                                    </p>
                                    <p> Please ensure that all outstanding fees are settled before [deadline
                                        date] to avoid any inconveniences. For further assistance or
                                        inquiries, please contact the Bursary Department</p>
                          

                                </div>
            

                            </div>
      
                        </div>
 
                    </div>
    
                </div>
     
            </div>

        </div>

    </div>



    <div class="modal fade" id="kt_modal_add_graduate1" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">

            <div class="modal-content">
            
                <form class="form" action="#" id="kt_modal_add_graduate1_form"
                    data-kt-redirect="../../demo1/dist/apps/customers/list.html">
            
                    <div class="modal-header" id="kt_modal_add_graduate1_header">
                
                        <h2 class="fw-bolder">Edit Notice</h2>
                        
                        <div id="kt_modal_add_graduate1_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                    
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="currentColor" />
                                </svg>
                            </span>
                  
                        </div>
              
                    </div>
            
                    <div class="modal-body py-10 px-lg-17">
              
                        <div class="scroll-y me-n7 pe-7" id="kt_modal_add_graduate1_scroll" data-kt-scroll="true"
                            data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                            data-kt-scroll-dependencies="#kt_modal_add_graduate_header"
                            data-kt-scroll-wrappers="#kt_modal_add_graduate_scroll" data-kt-scroll-offset="300px">



                            <div class="row mb-7">
                                <div class="col-12">
                         
                                    <label class="fs-6 fw-bold mb-2">
                                        <span class="required">Notice Title</span>

                                    </label>
                       
                                    <input class="form-control form-control-solid" placeholder="" name="" />
                 
                                </div>


                            </div>

                            <div class="fv-row mb-7">
        
                                <label class="fs-5 fw-bold form-label mb-2">Notice Details</label>
            
                                <textarea class="form-control form-control-solid" rows="6" name="target_details"
                                    placeholder="Type  Details" spellcheck="false">                        </textarea>
                            </div>

                            <div class="fv-row mb-2">
      
                                <div class="dropzone" id="kt_ecommerce_add_product_media">
               
                                    <div class="dz-message needsclick">
          
                                        <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
        
                                        <div class="ms-4">
                                            <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Drop files here or
                                                click to upload.</h3>
                                            <span class="fs-7 fw-bold text-gray-400">Upload up to 5
                                                files</span>
                                        </div>
                      
                                    </div>
                                </div>
            
                            </div>

                        </div>
            
                    </div>
  
                    <div class="modal-footer flex-center">
            
                        <button type="reset" id="kt_modal_add_graduate1_cancel"
                            class="btn btn-light me-3">Discard</button>

                        <button type="submit" id="kt_modal_add_graduate1_submit" class="btn btn-info">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
               
                    </div>
       
                </form>

            </div>
        </div>
    </div>

    <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    
        <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
  
            <div class="text-dark order-2 order-md-1">
                <span class="text-muted fw-bold me-1">2022©</span>
                <a href="https://GradexCloud.com" target="_blank"
                    class="text-gray-800 text-hover-primary">GradexCloud</a>
            </div>


        </div>

    </div>

</div> -->