<div class="bage">
    
      <div>
        <div class="inputdiv">
          <span class="labele">Admission No</span>
          <div class="col-lg-7 col-sm-10 inpute">
            <input  type="text" placeholder="Admission Number" class="inputele">
          </div>
        </div>
        <div class="inputdiv">
          <span class="labele">Date Admitted</span>
          <div class="col-lg-7 col-sm-10 inpute">
            <div>
              <span class="input-group-addon"></span>
              <input type="date" class="inputele">
            </div>
          </div>
        </div>
        <div class="inputdiv">
          <span class="labele">Session Admitted</span>
          <div class="col-lg-7 col-sm-10 inpute"> 
              <select class="inputele">
    <option value="2023/24">2023/24</option>
    <option value="2023/2024">2023/2024</option>
    <option value="2022/23">2022/23</option>
    <option value="2021/22">2021/22</option>
    <option value="2020/21">2020/21</option>
    <option value="2019/20">2019/20</option>
    <option value="2018/19">2018/19</option>
    <option value="2017/18">2017/18</option>
    <option value="2016/17">2016/17</option>
    <option value="2015/16">2015/16</option>
    <option value="2014/15">2014/15</option>
    <option value="2013/14">2013/14</option>
    <option value="2012/13">2012/13</option>
    <option value="2011/12">2011/12</option>
    <option value="2010/11">2010/11</option>
    <option value="2009/10">2009/10</option>
    <option value="2008/09">2008/09</option>
    
    </select>                          
          </div>
        </div>
        <div class="inputdiv">
          <span class="labele">Primary School</span>
          <div class="col-lg-7 col-sm-10 inpute">
            <input class="inputele">
          </div>
        </div>
        <div class="inputdiv">
          <span class="labele">Class</span>
          <div class="col-lg-7 col-sm-10 inpute">
            <select class="inputele">
    <option value="1">JS 1A</option>
    <option value="2">JS 1B</option>
    <option value="3">JS 1C</option>
    <option value="4">JS 1D</option>
    <option value="5">JS 1E</option>
    <option value="6">JS 1F</option>
    <option value="7">JS 2A</option>
    <option value="8">JS 2B</option>
    <option value="9">JS 2C</option>
    <option value="10">JS 2D</option>
    <option value="11">JS 2E</option>
    <option value="12">JS 2F</option>
    <option value="13">JS 3A</option>
    <option value="14">JS 3B</option>
    <option value="15">JS 3C</option>
    <option value="16">JS 3D</option>
    <option value="17">JS 3E</option>
    <option value="18">JS 3F</option>
    <option value="19">SS 1A</option>
    <option value="20">SS 1B</option>
    <option value="21">SS 1C</option>
    <option value="22">SS 1D</option>
    <option value="23">SS 1E</option>
    <option value="24">SS 1F</option>
    <option value="25">SS SS 1</option>
    <option value="26">SS SS 1B</option>
    <option value="27">SS SS C</option>
    <option value="28">SS 2A</option>
    <option value="29">SS 2B</option>
    <option value="30">SS 2C</option>
    <option value="31">SS 2D</option>
    <option value="32">SS 3A</option>
    <option value="33">SS 3B</option>
    <option value="34">SS 3C</option>
    <option value="35">SS 3D</option>
    
    </select>
          </div>
        </div>
        <br>
        <div>
          <h5 style="margin:0; color:rgb(32, 93, 164);">Please specify the Mode of Admission</h5>
        </div>  
        <div style="margin: 30px 0 0 10px;">
          <div class="inputdiv">
            <label ><input type="radio"><label class="labelerad">Direct</label></label>
            <div class="col-lg-7 col-sm-10 inpute">
              <input type="text" class="inputele" placeholder="State CEE Score">
            </div>
          </div>
          <div class="inputdiv">
            <label><input type="radio"><label class="labelerad">Transfer</label></label>
            <div class="col-lg-7 col-sm-10 inpute">
              <input type="text" placeholder="Former School" class="inputele">
            </div>
          </div> 
        </div>                   
      </div>
    
    
      <div style="text-align: center;">
        <button style="border: none; background-color: dodgerblue; color: white; padding: 9px 40px; border-radius: 20px;">Submit</button>
      </div>
</div>