
          <div class="bage">
            <div class="inputdiv">
              <span class="labele">Nationality</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="Nigerian">Nigerian</option>
                  <option value="Foreigner">Foreigner</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">State of Origin</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option selected="selected" value=""></option>
<option value="Abia">Abia</option>
<option value="Adamawa">Adamawa</option>
<option value="Akwa Ibom">Akwa Ibom</option>
<option value="Anambra">Anambra</option>
<option value="Bauchi">Bauchi</option>
<option value="Bayelsa">Bayelsa</option>
<option value="Benue">Benue</option>
<option value="Borno">Borno</option>
<option value="Cross River">Cross River</option>
<option value="Delta">Delta</option>
<option value="Ebonyi">Ebonyi</option>
<option value="Edo">Edo</option>
<option value="Ekiti">Ekiti</option>
<option value="Enugu">Enugu</option>
<option value="Gombe">Gombe</option>
<option value="Imo">Imo</option>
<option value="Jigawa">Jigawa</option>
<option value="Kaduna">Kaduna</option>
<option value="Kano">Kano</option>
<option value="Katsina">Katsina</option>
<option value="Kebbi">Kebbi</option>
<option value="Kogi">Kogi</option>
<option value="Kwara">Kwara</option>
<option value="Lagos">Lagos</option>
<option value="Nassarawa">Nassarawa</option>
<option value="Niger">Niger</option>
<option value="Ogun">Ogun</option>
<option value="Ondo">Ondo</option>
<option value="Osun">Osun</option>
<option value="Oyo">Oyo</option>
<option value="Plateau">Plateau</option>
<option value="Rivers">Rivers</option>
<option value="Sokoto">Sokoto</option>
<option value="Taraba">Taraba</option>
<option value="Yobe">Yobe</option>
<option value="Zamfara">Zamfara</option>
<option value="FCT">FCT</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">LGA of Origin</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="Nigerian">Nigerian</option>
                  <option value="Foreigner">Foreigner</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">Home Town</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <input type="text" required="" placeholder="Home Town" class="inputele">
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">Email</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <input type="text" required="" placeholder="Email" class="inputele">
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">LGA of Origin</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="Christianity">Christianity</option>
                  <option value="Islam">Islam</option>
                  <option value="Hindus">Hindus</option>
                  <option value="Judaism">Judaism</option>
                  <option value="ATR">ATR</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">Denomination</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="Catholic">Catholic</option>
                  <option value="Anglican">Anglican</option>
                  <option value="Methodist">Methodist</option>
                  <option value="Pentecostal">Pentecostal</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">Status</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="Active">Active</option>
                  <option value="Suspended">Suspended</option>
                  <option value="Expelled">Expelled</option>
                  <option value="Left">Left</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">Blood Group</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB">AB</option>
                </select>
              </div>
            </div>
            
            <div class="inputdiv">
              <span class="labele">Genotype</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="AA">AA</option>
                  <option value="AS">AS</option>
                  <option value="SS">SS</option>
                </select>
              </div>
            </div>

            <div class="inputdiv">
              <span class="labele">Sponsorship</span>
              <div class="col-lg-7 col-sm-10 inpute">
                <select class="inputele">
                  <option value="Parents">Parents</option>
                  <option value="Guardian">Guardian</option>
                  <option value="Scholarship">Scholarship</option>
                </select>
              </div>
            </div>
 
          

          <div style="text-align: center;">
            <button style="border: none; background-color: dodgerblue; color: white; padding: 9px 40px; border-radius: 20px;">Submit</button>
          </div>
      