<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-xxl">
                
                <!--begin::Form-->
                <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row"
                    data-kt-redirect="#">

                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                       
                        <!--end:::Tabs-->
                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general"
                                role="tab-panel">
                                <div class="d-flex flex-column gap-7 gap-lg-10">
                                    <!--begin::General options-->
                                    <div *ngIf="formTeacherClasses.length > 0" class="card card-flush py-4">

                                        <!--begin::Card body-->
                                        <div class="card-body pt-10">
                                            <!--begin::Row-->
                                            <div class="row gx-10 mb-5">
                                                <!--begin::Col-->
                                                <div class="col-lg-6">
                                                    <!--begin::Label-->
                                                    <div class="fv-row mb-10">
                                                        <label class="fs-6 fw-bold form-label mt-3">
                                                            <span class="required">Class</span>
                                                        </label>
                                                        <!--end::Label-->
                                                        <div class="w-100">

                                                            <!--begin::Input-->
                                                            <select [(ngModel)]="currentClass" name="classy"
                                                                aria-label="Select class" data-control="select2"
                                                                data-placeholder="Select class.."
                                                                class="form-select form-select-solid form-select-lg">
                                                                <option value="">Select Class...</option>
                                                                <option *ngFor="let session of formTeacherClasses"
                                                                    [value]="session.id">{{session.class}}</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <!--begin::Label-->
                                                    <div class="fv-row mb-10">
                                                        <label class="fs-6 fw-bold form-label">
                                                            <span class="required">Session</span>
                                                        </label>
                                                        <!--end::Label-->
                                                        <div class="w-100">
                                                            <select [(ngModel)]="currentSessionId" name="classu"
                                                                aria-label="Select class" data-control="select2"
                                                                data-placeholder="Select class.."
                                                                class="form-select form-select-solid form-select-lg">
                                                                <option value="">Select Session...</option>
                                                                <option *ngFor="let session of sessionlist"
                                                                    [value]="session.id">{{session.sessionName}}
                                                                </option>
                                                            </select>
                                                            <!-- <input type="text"
                                                                class=" disable form-control form-control-solid"
                                                                placeholder="2023/2024" disabled value="2023/2024" /> -->

                                                        </div>
                                                    </div>


                                                </div>
                                                <!--end::Col-->
                                                <!--begin::Col-->
                                                <div class="col-lg-6">
                                                    <!--begin::Label-->
                                                    <div class="fv-row mb-10">
                                                        <label class="fs-6 fw-bold form-label mt-3">
                                                            <span class="required">Term</span>
                                                        </label>
                                                        <!--end::Label-->
                                                        <div class="w-100">

                                                            <!--begin::Input-->
                                                            <select [(ngModel)]="currentTerm" name="clasis"
                                                                aria-label="Select term" data-control="select2"
                                                                data-placeholder="Select term.."
                                                                class="form-select form-select-solid form-select-lg">
                                                                <option selected disabled>Select term</option>
                                                                <option value="FIRST">First</option>
                                                                <option value="SECOND">Second</option>
                                                                <option value="THIRD">Third</option>
                                                                <option value="ANNUAL">Annual</option>
                                                            </select>
                                                            <!--end::Input-->

                                                        </div>
                                                    </div>

                                                    <div class="fv-row mb-5" style="margin-top: 60px;">
                                                        <div class="w-100">
                                                            <button (click)="getResultsAverageByClass()" class="w-100 btn btn-primary" style="padding: 10px ;">Show Results</button>
                                                        </div>
                                                    </div>

                                                </div>

                                                

                                                <div class="card-header border-0 pt-6">
                                                    <!--begin::Card title-->
                                                    <div class="card-title">
                                                        <!--begin::Search-->
                                                        <div class="d-flex align-items-center position-relative my-1">
                                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="17.0365" y="15.1223"
                                                                        width="8.15546" height="2" rx="1"
                                                                        transform="rotate(45 17.0365 15.1223)"
                                                                        fill="currentColor"></rect>
                                                                    <path
                                                                        d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                                        fill="currentColor"></path>
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->
                                                            <input type="text" data-kt-customer-table-filter="search"
                                                                class="form-control form-control-solid w-250px ps-15"
                                                                placeholder="Search Students">
                                                        </div>
                                                        <!--end::Search-->
                                                    </div>
                                                    <!--begin::Card title-->
                                                    <!--begin::Card toolbar-->
                                                    <div>
                                                        <div class="text-end">
                                                            <!--begin::Button-->
                                                            <button (click)="saveComments()" type="submit" class="me-3 btn btn-info">
                                                                <span class="indicator-label">Save Comment</span>
                                                            </button>
                                                            <button type="button" class="btn btn-info"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#kt_modal_add_customer">Batch
                                                            Uploads
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--end::Row-->
                                                </div>
                                                <!--end::Card toolbar-->

                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Table wrapper-->
                                            <div class="table-responsive mb-10">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-5"
                                                    id="kt_customers_table">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                        <!--begin::Table row-->
                                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="w-10px pe-2">
                                                                S/N
                                                            </th>
                                                            <th class="min-w-150px">Students Name</th>
                                                            <th class="min-w-100px">Gender</th>

                                                            <th class="min-w-125px">Average</th>
                                                            <th class="min-w-125px">Position</th>
                                                            <th class="min-w-300px">Class Teacher's Comment
                                                            </th>

                                                        </tr>
                                                        <!--end::Table row-->
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bold text-gray-600">
                                                        <tr *ngFor="let item of resultlist; index as i">
                                                            <!--begin::Checkbox-->
                                                            <td class="text-gray-800 text-bold">
                                                                {{i + 1}}
                                                            </td>
                                                            <!--end::Checkbox-->
                                                            <!--begin::Name=-->
                                                            <td>
                                                                <a href="View_user.html"
                                                                    class="text-gray-800 text-hover-info mb-1">{{item.studentName}}</a>
                                                            </td>
                                                            <!--end::Name=-->
                                                            <!--begin::Email=-->
                                                            <td>
                                                                <a href="#"
                                                                    class="text-gray-600 text-hover-info mb-1">{{item.sex}}</a>
                                                            </td>
                                                            <!--end::Email=-->


                                                            <!--begin::Company=-->

                                                            <!--end::Company=-->

                                                            <!--begin::Date=-->
                                                            <td>{{item.average}}</td>
                                                            <!--end::Date=-->
                                                            <td>{{item.average ? formatPosition(i + 1) : ''}}</td>
                                                            <td>
                                                                <!-- Input Text Field -->
                                                                <input #de [value]="item.comment ?? ''" (change)="editComment(item.studentId, de.value)" id="textField" type="text" name="class"
                                                                    aria-label="Enter comment"
                                                                    placeholder="Enter comment..."
                                                                    class="form-control form-control-solid form-control-lg">
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                    <!--end::Table body-->

                                                </table>
                                                <!--end::Table-->

                                                <!--end::Table-->

                                                <!--begin::Notes
                                      <div class="mb-0">
                                          <label class="form-label fs-6 fw-bolder text-gray-700">Notes</label>
                                          <textarea name="notes" class="form-control form-control-solid" rows="3" placeholder="Thanks for your business"></textarea>
                                      </div>
                                      <!--end::Notes-->
                                                <!--end::Wrapper-->

                                            </div>

                                            <div class="row">
                                                <div
                                                    class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                                    <div class="dataTables_length" id="kt_customers_table_length">
                                                        <label><select name="kt_customers_table_length"
                                                                aria-controls="kt_customers_table"
                                                                class="form-select form-select-sm form-select-solid">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select></label>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                        id="kt_customers_table_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled"
                                                                id="kt_customers_table_previous"><a href="#"
                                                                    aria-controls="kt_customers_table" data-dt-idx="0"
                                                                    tabindex="0" class="page-link"><i
                                                                        class="previous"></i></a></li>
                                                            <li class="paginate_button page-item active"><a href="#"
                                                                    aria-controls="kt_customers_table" data-dt-idx="1"
                                                                    tabindex="0" class="page-link">1</a></li>
                                                            <li class="paginate_button page-item next disabled"
                                                                id="kt_customers_table_next"><a href="#"
                                                                    aria-controls="kt_customers_table" data-dt-idx="2"
                                                                    tabindex="0" class="page-link"><i
                                                                        class="next"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Card header-->

                                    </div>
                                    <!--end::General options-->

                                    <div *ngIf="formTeacherClasses.length == 0">
                                        <h1>No data to display</h1>
                                        <h4>You are not a Form Teacher</h4>
                                    </div> 


                                </div>
                            </div>
                            <!--end::Tab pane-->
                            <!--begin::Tab pane-->
                            
                            <!--end::Tab pane-->
                            <!--begin::Tab pane-->
                            <!--end::Tab pane-->
                        </div>
                        <!--end::Tab content-->

                    </div>
                    <!--end::Main column-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    
    <!--end::Footer-->
</div>